.env.prod.db
.env

./services/web/env/

*.swp
*.swo
*.swn
*.swm
*.pem
.DS_Store
./services/frontend/node_modules
services/frontend/node_modules
./services/frontend/node_modules/*
services/frontend/node_modules/*
**/node_modules/** 