version: '3.8'

services:
  backend:
    build: ./services/backend
    command: python manage.py run -h 0.0.0.0
    volumes:
      - ./services/backend/:/usr/src/app/
    ports:
      - 1341:5000
    env_file:
      - ./.env.dev
      - ./.env.spotify
    depends_on:
      - postgres

  postgres:
    build: services/postgres
    volumes:
      - ./services/postgres/schema.sql:/docker-entrypoint-initdb.d/01.sql
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
      - PGUSER=postgres
    ports:
      - 12346:5432

  frontend:
    build:
      context: ./services/frontend  # Ensure this is correct
      dockerfile: Dockerfile  # Ensure the Dockerfile is referenced
    ports:
      - "3000:3000"  # React app will run on port 3000
    volumes:
      - ./services/frontend:/app  # Mounting the local directory into the container
      - /app/node_modules  # Exclude node_modules from the host filesystem
    stdin_open: true  # Keeps the container open for interactive commands
    tty: true         # Allocates a pseudo-TTY for interactive commands
    depends_on:
      - backend
      - postgres

volumes:
  postgres_data:
