@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin:0px;
    padding:0px;
    
}


.flex-container {
    display: flex;
    flex-direction:row;
    height:93vh;
    background-color: #F8F8F9;
    margin:auto;
}

.information-container {
    width:45%;
    background-color: #2C365E;
    
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing:border-box;
    padding:10vh 15vh;
}

.info-bullet-points {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    
}
.info-bullet-points h3{
    font-size:1.8em;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    padding:10px 10px;
}

.bolded {
    font-weight: bold;
}
.info-bullet-points img{
    width:30px;
    height:30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
}
.login-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    height:90%;
}

.flex-container h2 {
    font-size:3em;    
    font-family: 'Martel', serif;
}

.container-text-box {
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: left;
    font-family: "Nunito Sans", sans-serif;
}

.container-text-box  h4{
    font-size:1.5em;
    letter-spacing: 1px;
    margin:10px 0px 0px 0px;
    
}
.create-form-text-box {
    
    outline:none;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding:12px 20px;
    line-height:1.2em;
    border-radius:10px;
    background-color: transparent;
    border: 3px solid #2C365E ;
    
}
#submit-button {
    background-color: #2C365E;
    font-size:1.7em;
    font-weight:500;
    font-family: "Nunito Sans", sans-serif;
    text-transform:none;
    color:#F8F8F9;
    padding:10px 15%;
    border-radius: 10px;
    margin:40px 0px;
}
.submit-button:hover {
    background-color: #161E37;
    transition: 0.4s;
}

.pale-white {
    color:#F8F8F9;
}

.error-message {
    color:#A11717;
    font-weight:bold;
    margin:10px 0px;
}